<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sign_Up_Screen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18946B011CE81A3100C172AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18946B1D1CE81A3200C172AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18946B281CE81A3200C172AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
